@import "styles/mixins.scss";

@include screen-laptop {
  .card-container {
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
}
