@import "styles/variables.scss";

img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 16px auto;
}

summary {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-family: $font-family;
  font-size: 16px;
  padding: 8px;
}

.card-detail {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 10px;
  margin: 0 auto;
  border-bottom: 1px solid $primary-color;
}

.card-user {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  font-family: $font-family;
  font-size: 24px;
  padding: 8px;
  margin: 16px auto;
}

.img-follower {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 16px auto;
}

.title {
  display: flex;
  align-self: flex-start;
  font-style: oblique;
  color: $primary-font-color;
}

.detail {
  padding: 8px;
  margin: 16px;
  font-family: $font-family;
  font-size: 16px;
}