<details [open]="isOpen">
  <summary>
    <div class="card-detail">
      <span class="detail">Repositories </span>
  </div>
  </summary>
    <details [open]="isOpen">
      <summary>
        <h2>Name</h2>
      </summary>
        <div class="card-container">
          <div class="card-detail">
            <span class="detail title">Name </span>
            <span class="detail description">Repository 1 </span>
          </div>
          <div class="card-detail">
            <span class="detail title">Number stars</span>
            <span class="detail description">10 </span>
          </div>
          <div class="card-detail">
            <span class="detail title">Number of Forks</span>
            <span class="detail description">8 </span>
          </div>
          <div class="card-detail">
            <span class="detail title">Number of Watchers</span>
            <span class="detail description">7</span>
          </div>
          <div class="card-detail">
            <span class="detail title">Link to Repository </span>
            <span class="detail description">www.repository.com </span>
          </div>
        </div>
    </details>
</details>