@import "styles/variables.scss";

.card-user {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 16px auto;
}

span {
  font-family: $font-family;
  font-size: 24px;
  padding: 8px;
  margin: 16px auto;
}

.card-detail {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
  border-bottom: 1px solid $primary-color;
}

.title {
  display: flex;
  align-self: flex-start;
  font-style: oblique;
  color: $primary-font-color;
}

.description{
  display: flex;
  align-self: flex-end;
  color: $primary-color;
}

.detail {
  padding: 8px;
  margin: 16px;
  font-family: $font-family;
  font-size: 16px;
}