<div class="profile">
  <div class="card-user">
    <img src="https://picsum.photos/200/300" alt="">
    <span>Kiore0613</span>
  </div>
  <div class="card-container">
    <div class="card-detail">
      <span class="detail title">Company: </span>
      <span class="detail description">Something </span>
    </div>
    <div class="card-detail">
      <span class="detail title">Number Stars: </span>
      <span class="detail description">16 </span>
    </div>
    <div class="card-detail">
      <span class="detail title">Website: </span>
      <span class="detail description">www.angular.com </span>
    </div>
    <div class="card-detail">
      <span class="detail title">Member Since: </span>
      <span class="detail description">october 20 </span>
    </div>
    <div class="card-detail">
      <span class="detail title">Link to profile: </span>
      <span class="detail description">www.profile.com </span>
    </div>
    <div class="card-detail">
      <span class="detail title">Location: </span>
      <span class="detail description">Something </span>
    </div>
    <app-followings></app-followings>
    <app-repositories></app-repositories>
  </div>
</div>