<form [formGroup]="form">
  <div class="container">
    <div class="group-container">
      <label for="name">Name: </label>
      <input
        class="input-form"
        type="text"
        id="name"
        name="name"
        formControlName="name"
      />
      <div
        class="error-text error"
        *ngIf="form.get('name').touched && form.get('name').invalid"
      >
        <div class="error-text error" *ngIf="name.errors.required">
          ERROR required
        </div>

        <div
          class="error-text error"
          *ngIf="name.errors.minlength.requiredLength"
        >
          ERROR
        </div>
        <div
          class="error-text error"
          *ngIf="name.errors.maxlength.requiredLength"
        >
          ERROR
        </div>
      </div>
    </div>
    <div class="group-container">
      <label for="lastName">Last name: </label>
      <input class="input-form" type="text" id="lastName" />
    </div>
    <div class="group-container">
      <label for="email">Email: </label>
      <input class="input-form" type="text" id="email" name="email" />
    </div>
    <div class="group-container">
      <label for="password">Password: </label>
      <input class="input-form" type="password" id="password" name="password" />
    </div>
    <div class="group-container">
      <label for="confirmPassword">Confirm password: </label>
      <input
        class="input-form"
        type="password"
        id="confirmPassword"
        name="confirmPassword"
      />
    </div>
    <div class="group-container">
      <label for="birthDate">Birth date: </label>
      <input class="input-form" type="date" id="birthDate" name="birthDate" />
    </div>
    <div class="group-container">
      <label for="telephone">Telephone number: </label>
      <input
        class="input-form"
        type="text"
        id="telephone"
        name="telephone"
        formControlName="telephone"
      />
      <div
        class="error-text error"
        *ngIf="form.get('telephone').touched && form.get('telephone').invalid"
      >
        just letters
        <div
          class="error-text error"
          *ngIf="telephone?.hasError('cannotContainsLetters')"
        ></div>
      </div>
    </div>
    <div class="group-container">
      <label for="url">Personal site URL: </label>
      <input class="input-form" type="text" id="url" name="url" />
    </div>
    <div class="group-container">
      <label for="aboutMe">About me: </label>
      <textarea
        class="input-form"
        id="aboutMe"
        name="aboutMe"
        cols="40"
        rows="10"
      >
      </textarea>
    </div>
    <div class="group-container radio-group">
      <div *ngFor="let gender of arrGenres">
        <label [for]="gender.id">
          {{ gender.genre }}
          <input type="radio" name="genre" />
        </label>
      </div>
    </div>
    <div class="group-container">
      <label>Country:</label>
      <select
        class="input-form"
        id="country"
        name="country"
        (change)="onSelected(country.value)"
      >
        <option selected disabled>Select your country</option>
        <option *ngFor="let countryItem of arrCountries">
          {{ countryItem.country }}</option
        >
      </select>
    </div>
    <div class="states">
      <div class="group-container">
        <label>State:</label>
        <select class="input-form" id="state" name="state">
          <option selected disabled [value]="defaultState"
            >Select your State</option
          >
          <option *ngFor="let stateItem of selectedStates">
            {{ stateItem }}</option
          >
        </select>
      </div>
    </div>
    <div class="group-container">
      <label class="input-form">
        I Agree
        <input type="checkbox" id="agree" name="agree" />
      </label>
      <button class="input-form" type="submit">
        Submit
      </button>
    </div>
  </div>
</form>
