<form [formGroup]="form"  (ngSubmit)="onSubmit(form)">
  <div class="container">
    <div class="group-container">
      <label for="name">Name: </label>
      <input
        class="input-form"
        type="text"
        id="name"
        name="name"
        formControlName="name"
      />
      <div class="error-text error" *ngIf="name.touched && name.invalid">
        <div class="error-text error" *ngIf="name['errors'].required">
          Field Name is required
        </div>
        <div class="error-text error" *ngIf="name['errors'].minlength">
          The minimum length is
          {{ name.errors.minlength.requiredLength }} characters
        </div>
        <div class="error-text error" *ngIf="name['errors'].maxlength">
          The maximun length is
          {{ name?.errors?.maxlength.requiredLength }} characters
        </div>
      </div>
    </div>
    <div class="group-container">
      <label for="lastName">Last name: </label>
      <input
        class="input-form"
        type="text"
        id="lastName"
        formControlName="lastName"
      />
      <div
        class="error-text error"
        *ngIf="lastName.touched && lastName.invalid"
      >
        <div class="error-text error" *ngIf="lastName['errors'].required">
          Field Last Name is required
        </div>
        <div class="error-text error" *ngIf="lastName['errors'].minlength">
          The minimum length is
          {{ lastName.errors.minlength.requiredLength }} characters
        </div>
        <div class="error-text error" *ngIf="lastName['errors'].maxlength">
          The maximun length is
          {{ lastName.errors?.maxlength.requiredLength }} characters
        </div>
      </div>
    </div>
    <div class="group-container">
      <label for="email">Email: </label>
      <input
        class="input-form"
        type="text"
        id="email"
        name="email"
        formControlName="email"
      />
      <div class="error-text error" *ngIf="email.touched && email.invalid">
        <div class="error-text error" *ngIf="email['errors'].required">
          Field Email is required
        </div>
        <div class="error-text error" *ngIf="email['errors'].email">
          The Email format is invalid
        </div>
      </div>
    </div>
    <div class="group-container">
      <label for="password">Password: </label>
      <input
        class="input-form"
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
      <div
        class="error-text error"
        *ngIf="password.touched && password.invalid"
      >
        <div class="error-text error" *ngIf="password['errors'].required">
          Field Password is required
        </div>
        <div class="error-text error" *ngIf="password['errors'].minlength">
          The minimum length is
          {{ password.errors.minlength.requiredLength }} characters
        </div>
      </div>
    </div>
    <div class="group-container">
      <label for="confirmPassword">Confirm password: </label>
      <input
        class="input-form"
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
        [pattern]="password.value"
      />
      <div
        class="error-text error"
        *ngIf="confirmPassword.touched && confirmPassword.invalid"
      >
        <div
          class="error-text error"
          *ngIf="confirmPassword['errors'].required"
        >
          Field Confirm password is required
        </div>
        <div class="error-text error" *ngIf="confirmPassword.value != password.value">
          Passwords dont match
        </div>
      </div>
    </div>
    <div class="group-container">
      <label for="birthDate">Birth date: </label>
      <input
        class="input-form"
        type="date"
        id="birthDate"
        name="birthDate"
        formControlName="birthDate"
      />
      <div
        class="error-text error"
        *ngIf="birthDate.touched && birthDate.invalid"
      >
        <div class="error-text error" *ngIf="birthDate['errors'].required">
          Field Birth date is required
        </div>
        <div
          class="error-text error"
          *ngIf="birthDate.hasError('invalidDate')"
        >
          The BirthDate must be lower than today
        </div>
      </div>
    </div>
    <div class="group-container">
      <label for="telephone">Telephone number: </label>
      <input
        class="input-form"
        type="text"
        id="telephone"
        name="telephone"
        formControlName="phone"
      />
      <div class="error-text error" *ngIf="phone.touched && phone.invalid">
        <div class="error-text error" *ngIf="phone.errors?.required">
          Field Telephone is required
        </div>
      </div>
      <div
        class="error-text error"
        *ngIf="phone.hasError('cannotContainsLetters')"
      >
        The Telephone format is invalid
      </div>
    </div>
    <div class="group-container">
      <label for="url">Personal site URL: </label>
      <input class="input-form" type="text" id="url" name="url" />
    </div>
    <div class="group-container">
      <label for="aboutMe">About me: </label>
      <textarea
        class="input-form"
        id="aboutMe"
        name="aboutMe"
        cols="40"
        rows="10"
      >
      </textarea>
    </div>
    <div class="group-container radio-group">
      <div *ngFor="let genderOption of arrGenders">
        <label [for]="genderOption.id">
          {{ genderOption.gender }}
          <input
            type="radio"
            name="gender"
            [value]="genderOption.id"
            formControlName="gender"
          />
        </label>
        <div class="error-text error" *ngIf="gender.touched && gender.invalid">
          <div class="error-text error" *ngIf="gender?.errors?.required">
            Field Gender is required
          </div>
        </div>
      </div>
    </div>
    <div class="group-container">
      <label>Country:</label>
      <select
        class="input-form"
        id="country"
        name="country"
        (change)="onSelected(country.value)"
        formControlName="country"
        [ngModel]="defaultSelect"
      >
        <option selected disabled [value]="defaultSelect"
          >Select your country</option
        >
        <option *ngFor="let countryItem of arrCountries">
          {{ countryItem.country }}</option
        >
      </select>
      <div class="error-text error" *ngIf="country.touched && country.invalid">
        <div class="error-text error" *ngIf="country?.errors?.required">
          Field country is required
        </div>
      </div>
    </div>
    <div class="states" [hidden]="!country.valid">
      <div class="group-container">
        <label>State:</label>
        <select class="input-form" id="state" name="state" formControlName="state" [ngModel]="defaultState">
          <option selected disabled [value]="defaultState"> Select your State</option> 
          <option *ngFor="let stateItem of selectedStates">
            {{ stateItem }}</option> 
        </select>
        <div class="error-text error" *ngIf="state.touched && state.invalid">
          <div class="error-text error" *ngIf="state?.errors?.required">
            Field State is required
          </div>
        </div>
      </div>
    </div>
    <div class="group-container">
      <label class="input-form">
        I Agree
        <input type="checkbox" id="agree" name="agree" formControlName="agree"/>
      </label>
      <div class="error-text error" *ngIf="agree.touched && agree.invalid">
        <div class="error-text error" *ngIf="agree?.errors?.required">
          Field Agree is required
        </div>
      </div>
      <button class="input-form" type="submit"  [disabled]="!form.valid">
        Submit
      </button>
    </div>
  </div>
</form>
